.container{
  max-width: 400px;
  max-height: 800;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0 0 10px grey;
  margin-top: 20px;
  padding: 10px 40px;
}

.container h1{
  text-align: center;
}
.container>h3{
  text-transform: uppercase;
}

.income_expense{
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 0 0 5px grey;
}

.income_expense h3{
  text-transform: uppercase;
}

.trans_form input{
  width: 100%;
  margin: 10px 0;
  padding: 5px 5px;
  height: 20px;
}

.trans_form input:focus{
 outline-color: #bcd3f9;
}

.btn{
  height: 30px !important;
  width: 104% !important;
  background-color: #9c88ff;
  color: #fff;
  border: none;
}

.list{
  margin: 0;
  padding: 0;
}

.list li{
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  box-shadow: 0 0 5px grey;
  margin: 5px 5px;
  background-color: #fff;
  border-radius: 5px;
}

.list li span{
  padding: 2px;
}
